*
{   box-sizing: border-box;   }
:root
{   /* mobile first */
    /* tamanho do header eh o mesmo para mobile e desktop */
    --header-height: max( 60px, min( 10dvw, 10dvh ));

    /* inicialmente invisivel a side bar. Vai ter tamanhos diferentes em mobile
        e desktop, mas vai ser controlado pelas paginas de nav e header*/
    --sidebar-width: 0px;

    /* cores do tema */
    --theme-darkest: rgb( 0, 16, 0 );
    --theme-dark: rgb( 0, 22, 0 );
    --theme-dark-op0: rgba( 0, 22, 0, 0 );
    --theme-medium: rgb( 0, 32, 0 );
    --theme-light: rgb( 0, 42, 0 );
    --theme-lighter: rgb( 0, 84, 0 );
    --theme-lightest: rgb( 0, 122, 0 );
    --theme-megalight: rgb( 120, 200, 120 );
    --theme-ultralight: #B0FFB0;

    --_w: 100dvw;
    --screen-width-unitless: tan( atan2( var( --_w ), 1px ));

    --_h: 100dvh;
    --screen-height-unitless: tan( atan2( var( --_h ), 1px ));
}
body
{   display: grid;
    background-color: #041A0D;
    overflow: auto;
    margin: 0;
    padding: 0;
    height: 100dvh;
    width: 100dvw;
    min-width: 320px;
    grid-template-rows: var( --header-height ) calc( 100dvh - var( --header-height ));
    grid-template-areas: 
        "header"
        "main";
}
.header_main
{   height: var( --header-height );
    grid-area: header;

    display: flex;
    justify-content: flex-start;
    gap: 10px;

    width: 100dvw;
}
#main_section
{   grid-area: main;
    overflow: auto;
    width: 100dvw;
    padding: 15px;
}
.bg_placeholder
{
    grid-area: ffacet_logo;
    height: var( --header-height );
    width: 170px;
    background-image: url( "../static/yfc_pic_sm.png" );
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 20% 10%;
}
.bg_txt_plchld
{
    background-image: url( "../static/yfc_txt.png" );
    width: 100%;
    max-width: 400px;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: 0% 90%;
}
h1
{
    font-family: Genos, sans-serif;
    color: var( --theme-dark );
    font-weight: 650;
    display: inline;
    font-size: 2.5rem;
}
.container 
{   
    background: var( --theme-megalight );  
    padding: 30px;
    border-radius: 6px; 
    width: 100%; 
    max-width: 520px; 
    position: relative;
}
.loader
{   background-color: var( --theme-lighter );
    border: 1px solid var( --theme-megalight );
    border-radius: 4px;
    color: white;
    padding: 10px;
    filter: drop-shadow( 10px 10px 7px var(--theme-medium ));
    display: none;
    position: absolute;
    top: 200px; left: 50px; width: 80%;
}
h2 
{ 
    color: var(--theme-darkest); 
    margin-top: 0; 
    font-family: Genos, sans-serif;
    font-weight: 500;
}
h3
{
    color: var(--theme-darkest); 
    margin-top: 0; 
    font-family: Blinker, sans-serif;
}
select 
{ 
    width: 100%; 
    padding: 12px; 
    margin: 20px 0; 
    border: 2px solid #ddd; 
    border-radius: 8px; font-size: 16px; 
}
button 
{ 
    background-color: rgb( 0, 47, 0 );
    color: white; 
    border: none; 
    padding: 12px 24px; 
    border-radius: 8px; 
    cursor: pointer; 
    font-weight: bold; 
    width: 100%; 
}
button:hover 
{   background-color: var( --theme-lightest ); 
}
p
{
    font-family: Blinker, sans-serif;
}
input[type='text']
{
    width: 100%;
    padding: 12px; 
}
.status 
{ 
    margin-top: 20px; 
    color: var( --theme-darkest ); 
    font-size: 1rem;
    text-align: center; 
    font-family: Blinker, sans-serif;
}
#completed
{
    font-family: Blinker, sans-serif;
}
#target
{
    font-family: Blinker, sans-serif;
    background-color: rgb( 0, 122, 0 );
    padding: 6px;
    color: white;
    text-align: center;
    border: 2px inset var( --theme-dark );
}
.small_tab
{
    font-size: 90%;
    margin-left: 20px;
}
.pseudo-input 
{
    border: 1px solid #ccc;
    padding: 10px;
    min-height: 20px;
    width: 88%;
    border-radius: 4px;
    font-family: sans-serif;
    outline: none;
    background: #fff;
    display: inline-block;
}
.pseudo-input:empty:before 
{
    content: "paste here Ex: AIzaSYA...";
    color: #888;
}
.pseudo-input:focus 
{
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0,123,255,0.5);
}
#clear_input
{
    width: 3rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    font-size: 1rem;
    cursor: pointer;
}
